<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Cars Directory</title>
</head>
<body>
<div class="container">
    <h3>Cars Directory</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Model</th>
            <th>Series</th>
            <th>Engine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempCar: ${cars} ">
            <td th:text="${tempCar.model}"/>
            <td th:text="${tempCar.series}"/>
            <td th:text="${tempCar.engine}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>